name: Publish to docs site
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci

      - name: build docs
        run: npm run build:prod

      - name: publish docs
        uses: SamKirkland/FTP-Deploy-Action@a51268f67f6605236975928ae28b0f7e9971d50a # v4.3.6
        with:
          server: ${{secrets.FTP_HOST}}
          username: ${{secrets.DOCS_FTP_USERNAME}}
          password: ${{secrets.DOCS_FTP_PASSWORD}}
          local-dir: ./dist/
          server-dir: ./
          port: 21
          protocol: ftps
